.DS_Store
DerivedData/
build/
.build/

# Xcode user data
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcscmblueprint

# Swift Package Manager
.swiftpm/
Packages/
Package.resolved

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/

# CocoaPods
Pods/

# Temporary editor files
*.swp
*.tmp

